<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation#intro) can be found here.

Another example of simple API we will use in this notebook is Fruityvice application. The Fruityvice API web service which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The web service is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [2]:
!{sys.executable} -m pip install randomuser

Collecting randomuser
  Using cached randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py): started
  Building wheel for randomuser (setup.py): finished with status 'done'
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5093 sha256=b4db4618df4e949e875b84c64eea4de4ccf34bd2566bd29a9c1faaf8c654c6c8
  Stored in directory: c:\users\fediboi\appdata\local\pip\cache\wheels\fc\8d\74\bcdd5e8a9433bfa4c4f9c1cccbfec40139322a28d77f61e45e
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

Then, we will load the necessary libraries.

In [3]:


from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [4]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [5]:
some_list = r.generate_users(10)

In [6]:
some_list

[<randomuser.RandomUser at 0x16535b4ddd0>,
 <randomuser.RandomUser at 0x16535b4de10>,
 <randomuser.RandomUser at 0x16535b4de50>,
 <randomuser.RandomUser at 0x16535b4de90>,
 <randomuser.RandomUser at 0x16535b4ded0>,
 <randomuser.RandomUser at 0x16535b4df50>,
 <randomuser.RandomUser at 0x16535b4df90>,
 <randomuser.RandomUser at 0x16535b4dfd0>,
 <randomuser.RandomUser at 0x16535b4e010>,
 <randomuser.RandomUser at 0x16535b4df10>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [7]:
name = r.get_full_name()

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [8]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Catherine Long   catherine.long@example.com
Morris Ray   morris.ray@example.com
Baptist Duwe   baptist.duwe@example.com
زهرا پارسا   zhr.prs@example.com
Samuel Luoma   samuel.luoma@example.com
Laura Johansen   laura.johansen@example.com
Delani Melo   delani.melo@example.com
Brooke Nichols   brooke.nichols@example.com
Oswald Guerin   oswald.guerin@example.com
Mia Gaillard   mia.gaillard@example.com

## Exercise 1
In this Exercise, generate photos of the random 10 users.

In [9]:
## Write your code here
for user in some_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/women/46.jpg
https://randomuser.me/api/portraits/men/17.jpg
https://randomuser.me/api/portraits/men/27.jpg
https://randomuser.me/api/portraits/women/74.jpg
https://randomuser.me/api/portraits/men/24.jpg
https://randomuser.me/api/portraits/women/9.jpg
https://randomuser.me/api/portraits/women/39.jpg
https://randomuser.me/api/portraits/women/90.jpg
https://randomuser.me/api/portraits/men/28.jpg
https://randomuser.me/api/portraits/women/82.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [10]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [11]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Becky Scott,female,Roscrea,Monaghan,becky.scott@example.com,1960-05-01T18:45:46.988Z,https://randomuser.me/api/portraits/women/40.jpg
1,Gabriel Thies,male,Neuenstadt am Kocher,Hessen,gabriel.thies@example.com,1994-12-28T15:37:23.651Z,https://randomuser.me/api/portraits/men/40.jpg
2,Johanna Flohr,female,Munein,Zeeland,johanna.flohr@example.com,1980-01-23T12:37:19.195Z,https://randomuser.me/api/portraits/women/2.jpg
3,Letitia Cox,female,Tampa,South Carolina,letitia.cox@example.com,1959-10-05T20:49:22.905Z,https://randomuser.me/api/portraits/women/70.jpg
4,Flurin Roche,male,Brüttelen,Zug,flurin.roche@example.com,1972-03-18T06:22:43.341Z,https://randomuser.me/api/portraits/men/75.jpg
5,Verena Marie,female,Sins,Zürich,verena.marie@example.com,1970-07-30T21:41:34.071Z,https://randomuser.me/api/portraits/women/42.jpg
6,Annabelle Miller,female,Souris,Newfoundland and Labrador,annabelle.miller@example.com,1966-04-25T14:26:39.438Z,https://randomuser.me/api/portraits/women/1.jpg
7,Özsu Beşerler,female,Samsun,Giresun,ozsu.beserler@example.com,1974-05-07T19:41:22.012Z,https://randomuser.me/api/portraits/women/43.jpg
8,Jeremiah Burke,male,Tullow,Monaghan,jeremiah.burke@example.com,1985-04-14T00:50:04.289Z,https://randomuser.me/api/portraits/men/3.jpg
9,Jeton Dufour,male,Zollikon,Uri,jeton.dufour@example.com,1985-02-06T05:26:09.557Z,https://randomuser.me/api/portraits/men/74.jpg

In [11]:
df1 = pd.DataFrame(get_users())  
df1

,Name,Gender,City,State,Email,DOB,Picture
0,Emily Chu,female,Havelock,Nunavut,emily.chu@example.com,1994-11-16T06:52:14.990Z,https://randomuser.me/api/portraits/women/18.jpg
1,Emilia Cruz,female,Alcalá de Henares,Melilla,emilia.cruz@example.com,1956-11-22T05:05:40.606Z,https://randomuser.me/api/portraits/women/1.jpg
2,آدرین موسوی,male,قرچک,هرمزگان,adryn.mwswy@example.com,1991-11-11T06:57:09.980Z,https://randomuser.me/api/portraits/men/64.jpg
3,Natalia Smestad,female,Langset,Finnmark - Finnmárku,natalia.smestad@example.com,1963-04-30T19:50:34.113Z,https://randomuser.me/api/portraits/women/92.jpg
4,Samuel Brar,male,Dorchester,British Columbia,samuel.brar@example.com,1970-03-28T08:37:30.587Z,https://randomuser.me/api/portraits/men/64.jpg
5,Manuela Soler,female,Parla,Aragón,manuela.soler@example.com,1976-04-21T00:16:42.939Z,https://randomuser.me/api/portraits/women/41.jpg
6,Caitlin Hall,female,Invercargill,Nelson,caitlin.hall@example.com,1983-03-25T13:12:25.781Z,https://randomuser.me/api/portraits/women/27.jpg
7,Greg Allen,male,Medford,Alabama,greg.allen@example.com,1984-05-30T23:04:31.261Z,https://randomuser.me/api/portraits/men/85.jpg
8,Lauri Salo,male,Äänekoski,Southern Ostrobothnia,lauri.salo@example.com,1993-09-30T23:00:15.486Z,https://randomuser.me/api/portraits/men/68.jpg
9,Jeanne Harcourt,female,Georgetown,Newfoundland and Labrador,jeanne.harcourt@example.com,1997-08-12T10:04:50.004Z,https://randomuser.me/api/portraits/women/55.jpg

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruityvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [12]:
import requests
import json

We will obtain the [fruityvice](https://www.fruityvice.com) API data using `requests.get("url")` function. The data is in a json format.

In [14]:
data = requests.get("https://fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [16]:
results="" 
try:
    results = json.loads(data.text)
except json.JSONDecodeError as e:
    print(f"Error decoding JSON: {e}")

Error decoding JSON: Expecting value: line 1 column 1 (char 0)

We will convert our json data into *pandas* data frame.

In [17]:
pd.DataFrame(results)

ValueError: DataFrame constructor not properly called!

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [18]:
df2 = pd.json_normalize(results)

NotImplementedError:

In [ ]:
df2

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [ ]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [ ]:
# Write your code here

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/) contains a list of free public APIs for you to practice. Let us deal with the following example.

#### Official Joke API 
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

1. Using `requests.get("url")` function, load the data from the URL.

In [20]:
# Write your code here
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")
```

</details>

2. Retrieve results using `json.loads()` function.

In [23]:
# Write your code here
jsondata = json.loads(data2.text)

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame. Drop the type and id columns.

In [27]:
# Write your code here
df = pd.DataFrame(jsondata)
df.drop(columns=["id","type"],inplace=True)
df

,setup,punchline
0,How many hipsters does it take to change a lig...,"Oh, it's a really obscure number. You've proba..."
1,Why is peter pan always flying?,Because he neverlands
2,Why do wizards clean their teeth three times a...,To prevent bat breath!
3,What's red and bad for your teeth?,A Brick.
4,"3 SQL statements walk into a NoSQL bar. Soon, ...",They couldn't find a table.
5,did you know the first French fries weren't co...,they were cooked in Greece
6,What do you call a group of killer whales play...,An Orca-stra.
7,Why don't eggs tell jokes?,Because they would crack each other up.
8,Why did the programmer always mix up Halloween...,Because Oct 31 equals Dec 25.
9,How do you organize a space party?,You planet.

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
<a href="https://www.linkedin.com/in/svitlana-kramar" target="_blank">Svitlana Kramar</a>

Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

## Additional Contributor
<a href="https://www.linkedin.com/in/abhishek-gagneja-23051987/" target="_blank">Abhishek Gagneja</a>

Copyright © 2023 IBM Corporation. All rights reserved.